Source: saludador-web
Section: web
Priority: standard
Maintainer: Francisco Guerrero <jsfrncscg@gmail.com>
Build-Depends: debhelper (>= 9), python-setuptools, python-all-dev
Standards-Version: 3.9.6
Homepage: www.example.com

Package: saludador-web
Architecture: all
Depends: python-django, nginx, uwsgi, uwsgi-plugin-python, python-setuptools
Priority: optional
Description: Saludador web
 Saludador version web